<%- include('./header.ejs') %>

<div
  style="margin: 0 auto; max-width: 720px; padding: 30px 0; font-family: Arial"
>
  <p>Hello <%= name %></p>
  <p>
    Trouble signing in?
    <br />
    Resetting your password is easy. Just press the Link below and follow the
    instructions. We’ll have you up and running in no time.
  </p>

  <p><%= message %></p>

  <p>Please Use this link within the next 10 minutes</p>
  <p>If you did not make this request then please ignore this email.</p>
</div>

<%- include('./footer.ejs') %>
